.route-hydros {
    text-align: center;
    // height: 100vh;
    // height: calc(100vh - 4rem);

    p {
        margin: 0px;
    }
    h3 {
        margin: 0px;
    }

    .overlay {
        padding: 10px;
        background-color: rgba($color: #ffffff, $alpha: 0.9);
    }
    .grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        padding: 10px;

        .group:nth-child(1) {
            margin-left: 30px;
        }

        @media only screen and (max-width: 1500px) {
            // background-color: lightblue;
            grid-template-columns: 1fr 1fr 1fr;
            .group:nth-child(1) {
                margin-left: 0px;
            }
        }
        @media only screen and (max-width: 1000px) {
            // background-color: lightblue;
            grid-template-columns: 1fr;

            .group {
                text-align: center;
            }
            input {
                margin: 0 auto;
                width: 100%;
            }
            .group:nth-child(1) {
                margin-left: 0px;
            }
        }


        
    }

    .grid:nth-child(odd) {
        background-color: #eeeeee;
    }

    .flex {
        display: flex;
        &.h-center {
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
        }
    }

    .group {
        display: block;
        margin-bottom: 20px;
        text-align: left;

        label {
            display: block;
            margin-bottom: 5px;
            font-size: 24px;
        }
        input {
            display: block;
            padding: 5px;
            font-size: 20px;
        }
        button {
            text-align: center;

            min-width: 150px;
            font-size: 20px;
            // margin-bottom: 20px;
            padding: 5px;
            margin: 0 auto;
        }

        &.center {
            text-align: center;
        }
    }

    .green {
        color: green;
    }
    .orange {
        color: orange;
    }
    .red {
        color: red;
    }
}
